@import url('https://fonts.googleapis.com/css2?family=Delius&family=Ribeye&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




:root{
    --rosy: #eab2bb;
    --sky: #96cdff;
    --baltic: #456990;
    --grape: #5e548e;
    --burg: #780116;
    --dark: #040016;
}

body{
    background-color: var(--baltic);
}

h1, h2, h3{
    font-family: "Ribeye", serif;
}

p, a, li, small{
    font-family: "Delius", sans-serif;
}

header{
    animation: names 0.25s ease-out;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    top: 0px;
    position: sticky;
    align-items: center;
    justify-content: center;
    background-color: var(--grape);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 4px 4px 4px var(--dark);
}

@keyframes logo{
    0% {transform: translate(-100px,0);}
}

@keyframes names{
    0% {transform: translate(0,-100px);}
}

@keyframes nav{
    0% {transform: translate(100px,0);}
}

header img{
    width: 100%;
    display: block;
    margin: auto;
    animation: logo 0.5s ease-out;
}

header div{
    margin: auto;
}

header h1{
    font-size: 2rem;
    text-align: center;
    color: var(--sky);
    text-shadow: 4px 2px 2px var(--burg);
    margin: 0;
    animation: names 0.5s ease-out;
}

header p{
    text-align: center;
    color: var(--rosy);
    text-shadow: 4px 2px 2px var(--burg);
    margin: 0;
    animation: names 0.5s ease-out;
}

nav{
    margin: auto;
    animation: nav 0.5s;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav a {
    transition: 0.25s;
    display: block;
    margin: 0.75rem 0.25rem;
    padding: 0.5rem;
    background-color: var(--sky);
    text-decoration: none;
    color: var(--burg);
    border-radius: 5px;
    text-align: center;
    box-shadow: 4px 2px 2px var(--dark);
}

nav a:hover {
    transition: 0.5s;
    display: block;
    margin: 0.75rem 0.25rem;
    padding: 0.75rem;
    background-color: var(--rosy);
    text-decoration: none;
    color: var(--burg);
    border-radius: 20px;
    text-align: center;
    box-shadow: 4px 2px 2px var(--dark);
}

nav a:active {
    transition: 0.15s;
    display: block;
    margin: 0.75rem 0.25rem;
    padding: 0.75rem;
    background-color: var(--burg);
    text-decoration: none;
    color: var(--sky);
    border-radius: 20px;
    text-align: center;
    box-shadow: 4px 2px 2px var(--dark);
}

@keyframes riseUp{
    0% {transform: translate(0,100px);}
}

main > section{
    animation: names 0.5s ease-out;
    margin: 1.5rem 1rem;
    padding: 0.75rem;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--dark);
}

#listen, #gigs{
    background-color: var(--sky);
}

#about{
    background-color: var(--rosy);
}

main img, footer img{
    width: 80%;
    display: block;
    margin: auto;
}

h2{
    font-size: 1.25rem;
    width: 70%;
    margin: 0.75rem auto;
    text-align: center;
    padding-bottom: 0.5rem;
    color: var(--grape);
    border-bottom: 5px dotted var(--grape);
    animation: names 0.75s ease-out;
}

#about p, #members p{
    margin: 0.75rem auto 0.25rem;
    text-indent: 2rem;
    color: var(--dark);
}

#members img{
    width: 60%;
    border-radius: 50%;
}

.jonah img{
    box-shadow: 5px 5px 10px var(--burg);
}

.gwen img{
    box-shadow: 5px 5px 10px var(--baltic);
}

#gigs p{
    text-align: center;
    margin: 2rem;
    animation: names 0.95s ease-out;
}

#gigs a img{
    width: 80%;
    margin: auto;
    border: dotted 4px var(--burg);
    border-radius: 20px;
    animation: names 1s ease-out;
}

#gigs a:hover img{
    transition: 0.5s;
    border: solid 6px var(--burg);
    border-radius: 50px;
    box-shadow: 4px 4px 4px var(--baltic);
}

#gigs a:active img{
    width: 70%;
    border: solid 10px var(--rosy);
    border-radius: 50px;
    box-shadow: 4px 4px 4px var(--baltic);
}

.gig-img img{
    border-radius: 15px;
    border: 4px solid var(--burg);
    box-shadow: 4px 4px 4px var(--baltic);
    animation: names 1.1s ease-out;
}

.instagram{
    width: 40%;
    fill: var(--rosy);
    background-color: var(--grape);
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
    border-radius: 50px;
    box-shadow: 5px 5px 5px var(--dark);
}

footer{
    background-color: var(--rosy);
    padding: 1rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#music{
    display: flex;
    margin: 2rem auto;
}

#music a img{
    border-radius: 50%;
}

#music a:hover img{
    border-radius: 25%;
    transition: 0.5s;
}

#music a:active img{
    border-radius: 25%;
    border: 5px solid var(--sky);
    transition: 0.5s;
}

footer p{
    text-align: center;
    color: var(--grape);
    margin: 1.5rem;
}

footer p a{
    background-color: var(--sky);
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--burg);
    border: 2px solid;
}

footer p a:hover{
    transition: 0.5s;
    background-color: var(--rosy);
    padding: 0.75rem;
    border-radius: 50px;
    color: var(--burg);
    border: 2px solid;
}

footer p a:active{
    transition: 0.5s;
    background-color: var(--baltic);
    padding: 0.75rem;
    border-radius: 50px;
    color: var(--sky);
    border: 2px solid;
}

@media screen and (min-width: 550px){

    header img{
        width: 40%;
    }

    header h1{
        font-size: 3rem;
    }
    
    #members div{
        display: flex;
        align-items: center;
    }

    #members p{
        display: block;
        width: 60%;
    }

    #members img{
        width: 35%;
        margin: 1rem;
    }

}

@media screen and (min-width: 700px){

    #about img{
        width: 50%;
    }

}

@media screen and (min-width: 900px){

    header{
        max-width: 700px;
    }

    .headtext{
        margin: auto 3rem;
    }

    main{
        max-width: 700px;
        margin: auto;
    }

    footer{
        max-width: 750px;
        margin: auto;
    }

}
